# hub
export PORT=4444
export GRID_THROW_ON_CAPABILITY_NOT_PRESENT=true
export GRID_NEW_SESSION_WAIT_TIMEOUT=-1
export GRID_JETTY_MAX_THREADS=-1
export GRID_NODE_POLLING=5000
export GRID_CLEAN_UP_CYCLE=5000
export GRID_TIMEOUT=30
export GRID_BROWSER_TIMEOUT=0
export GRID_MAX_SESSION=5
export GRID_UNREGISTER_IF_STILL_DOWN_AFTER=30000

# node
export HUB_PORT_4444_TCP_ADDR=selenium-hub
export HUB_PORT_4444_TCP_PORT=$PORT
export NODE_MAX_INSTANCES=1
export NODE_MAX_SESSION=1
export NODE_REGISTER_CYCLE=5000
export NODE_PORT=5555
export NODE_APPLICATION_NAME=""
